@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --pinkColor: #f77e7e;
    --maroonColor: #911d2e;
    --yellowColor: #f3c353;
    --blueColor: #03536e;
    --grayColor: #F5F5F5;
    --purpleColor: #a24da7;
    --blackColor: #231F20;
    --whiteColor: #FFFBFB;
    --fontFamily: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    background-color: var(--blueColor);
    font-family: var(--fontFamily);
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0;
    
}
footer div{
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 2rem;
    padding: 5px;

}
footer h2 {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    color: var(--grayColor);

}
footer .download-btn{
    background-color: var(--whiteColor);
    border-radius: 100%;
}
footer .download-btn:hover{
    background-color: var(--yellowColor);
    border-radius: 10px;
}
footer h2 a:hover{
    color: var(--whiteColor);
    text-decoration: underline;
    text-decoration-color: var(--yellowColor);
    text-decoration-thickness: 3px;

}
footer .footer-socials a{
    background-color: var(--whiteColor);
    border-radius: 100%;
    padding: 2px;
    box-shadow: 1px 1px 6px var(--blackColor);
}
footer .footer-socials a:hover, .about-linkedin img:hover{
    background-color: var(--yellowColor);  
    box-shadow: 0px 0px 0px 2px var(--blackColor);
    border-radius: 100%;
  
}
footer .footer-socials a:active{
    background-color: var(--yellowColor);
    box-shadow: 0px 0px 0px 1px var(--blackColor);
}


