@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,400&display=swap');
:root{
    --pinkColor: #f77e7e;
    --maroonColor: #911d2e;
    --yellowColor: #f3c353;
    --blueColor: #03536e;
    --grayColor: #F5F5F5;
    --purpleColor: #a24da7;
    --blackColor: #231F20;
    --whiteColor: #FFFBFB;
    --fontFamily: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: var(--blueColor);
    font-family: var(--fontFamily);
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
footer img {
    width: 2rem;
    padding: 5px;

}
footer h2 {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}
footer h2 a:hover{
    color: var(--whiteColor);
    text-decoration: underline;
}
 img:hover{
    background-color: var(--whiteColor);
    border-radius: 3px;
}
footer div{
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;

}