@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,400&display=swap');
:root{
    --pinkColor: #f77e7e;
    --maroonColor: #911d2e;
    --yellowColor: #f3c353;
    --blueColor: #03536e;
    --grayColor: #F5F5F5;
    --purpleColor: #a24da7;
    --blackColor: #231F20;
    --whiteColor: #FFFBFB;
    --fontFamily: 'Jost', sans-serif;
}
   
   * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     transition: all 1s ease-in;
   }
   
   html,
   body {
     max-width: 100vw;
     overflow-x: hidden;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   body {
     color:var(--black-color);
     background: var(--graycolor);
   }
   
   a {
     color: inherit;
     text-decoration: none;
   }
   .logo-div{
    position: absolute;
    width: 3rem;
    top: 3rem;
    left: 1.5rem;
   }
   .logo-div img:hover{
    box-shadow: inset 0px -10px 20px -10px var(--purpleColor);
    background-color: none;
   }
   /* Page css */
   
   .c-wrapper{
    width: 350px;
    height: auto;
    border-radius: 5px;
    margin: 10px auto;
    position: relative;
  }
   .k-wrapper{
     width: 350px;
     height: 500px;
     border-radius: 5px;
     margin: 10px auto;
     position: relative;
   }
   .segment {
    height: 60px;
    width: 100px;
    border: 1px solid inherit;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--pinkColor);
    border-radius: 10px;
    transition: top o.8s ease-in-out;
    animation: glow 12s infinite alternate ease-in-out;
  }
   
  @keyframes glow {
    0% {
      opacity: 1;
      box-shadow: 0 0 3px 0 var(--maroonColor);
    }
    40% {
      opacity: 0.8;
      box-shadow: 0 0 2px 3px var(--purpleColor);
    }
    50% {
      opacity: 1;
      box-shadow: 0 0 2px 2px var(--purpleColor);
    }
    100% {
      opacity: 1;
      box-shadow: 0 0 5px 0 var(--blackColor);
    }
  }

   .segment_one{
     border-radius: 0 100px 100px 0;
     background-color: var(--pinkColor);
     left: 80px;
     top: 30px;
   
   }
   .segment_two{
     left: 30px;
     top: 30px;
     width: 50px;
     height: 70px;
     border-radius: 100px 0 0 0;
     background-color: var(--yellowColor);
     z-index: 1;
   }
   .segment_three{
     width: 50px;
     height: 130px;
     left: 30px;
     top: 100px;
     border-radius: 0 0 0 100px;
     background-color: var(--yellowColor);
   }
   .segment_four{
     top: 170px;
     border-radius: 0 100px 100px 0;
     background-color: var(--blueColor);
     left: 80px;
   }
   .k1{
     top: 250px;
     left: 150px;
     width: 50px;
     height: 210px;
     border-radius: 100px 100px;
   }
   .k2{
     top: 260px;
     left: 210px;
     width: 40px;
     height: 120px;
     border-radius: 100px 100px;
     transform-origin: right;
     transform: rotate(45deg);
     z-index: -1;
   }
   
   .k3{
     top: 330px;
     left: 200px;
     width: 90px;
     height: 35px;
     border-radius: 0 80% 0 0;
     background-color: var(--blueColor);

   }
   .k4{
     top: 350px;
     left: 240px;
     width: 50px;
     height: 110px;
     border-radius: 100% 80% 100px 100px;
     z-index: -1;
   }