@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,400&display=swap');
:root{
    --pinkColor: #f77e7e;
    --maroonColor: #911d2e;
    --yellowColor: #f3c353;
    --blueColor: #03536e;
    --grayColor: #F5F5F5;
    --purpleColor: #a24da7;
    --blackColor: #231F20;
    --whiteColor: #FFFBFB;
    --fontFamily: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    font-family: var(--fontFamily);
}
.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgb(245, 245, 245,0.7);
    
}
.custom-nav{
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: var(--fontFamily);
    border-bottom: 1px solid var(--blueColor);
    
}
.custom-nav-ul{
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.custom-nav-ul span:hover{
    box-shadow: 0 0 3px 3px var(--maroonColor);
}
.custom-nav-li{
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1em;
    font-size: 0.95rem;
    cursor: pointer;
}
.custom-projects span{
    background-color: var(--pinkColor);
    border-radius: 3px;
}
.custom-about span{
    background-color: var(--yellowColor);
    border-radius: 3px;

}
.custom-blog span{
    background-color: var(--blueColor);
    border-radius: 3px;

}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}